<div id="testMail" class="hidden">
    <div class="absolute inset-0 flex 
                    items-center justify-center
                    text-white z-20 opacity-100 " >
        <div class="p-8 border-3 shadow-green-300 shadow-sm bg-white">
            <span class="text-s text-center text-gray-600">Are you sure to send the request?</span>
            <br>
            <br>
            <div>
                <button (click)="onConfirm()" class="ml-24 text-s bg-green-400 p-2 rounded-md">Confirm</button>
                <button (click)="onCancel()" class="ml-5 p-2 text-sm rounded-md text-gray-600 border-2 border-gray-200">Cancel</button>
            </div>
            
        </div>

</div>
</div>
